@using MvcKutuphane.Models.Entity
@model List<TBLARACLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Araç Sayfası</h2>

@using (Html.BeginForm("Index", "Arac", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
       <b>Aranacak Plaka No Girin: &nbsp</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Plaka No</th>
        <th>Marka-Model</th>
        <th>Yakıt Türü</th>
        <th>Yıl</th>
        <th>Renk</th>
        <th>Kira Fiyatı</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
<tr>
    <td>@k.ID</td>
    <td>@k.PLAKA</td>
    <td>@k.TBLMODEL.MODELMARKA</td>
    <td>@k.TBLYAKIT.YAKIT</td>
    <td>@k.YIL</td>
    <td>@k.RENK</td>
    <td>@k.KIRAFIYATI</td>
    <td>@k.DURUM</td>
    <td><a href="/Arac/AracSil/@k.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Arac/AracGetir/@k.ID" class="btn btn-success">Güncelle</a></td>
</tr>
    }
</table>
<a href="/Arac/AracEkle" class="btn btn-primary">Yeni Araç Ekle</a>